# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Logs
logs
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.* 

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Dependency directories
bower_components/

# Coverage
coverage/

# Misc
*.tgz
*.zip

# Optional: if you use Mac
.AppleDouble
.LSOverride

# Optional: if you use Windows
Desktop.ini
$RECYCLE.BIN/

# Optional: if you use Linux
*~

# Ignore local history for JetBrains IDEs
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/usage.statistics.xml

# Optional: if using next.js
.next/

# Optional: if using React
*.cache/
express class/package-lock.json
express class/package.json
middelware/package-lock.json
middelware/package.json
.gitignore
.gitignore
middelware/01-middlewares/package.json
middelware/01-middlewares/package-lock.json
week 5/package-lock.json
.gitignore
middelware/01-middlewares/03-errorcount.js
week-5-cors/package.json
week-5-cors/package-lock.json
week 5/package.json
week 6/Authentication/package-lock.json
week 6/Authentication/package.json
.DS_Store
week 6/package-lock.json
week 6/package.json
week 6/JWT Auth/package-lock.json
week 6/JWT Auth/package.json
.DS_Store
week-7/TODO-app/package-lock.json
week-7/TODO-app/package.json
